.BackPanel {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.Modal {
    width: 480px;
    height: 480px;
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
}

.ModalContainerBackPanel {
    width: 100%;
    height: 100%;
    background: #1F2226;
    border-radius: 5px;
}

.TokenScrollView {
    width: 80%;
    overflow-y: auto;
    height: 225px;
    margin: auto;
}

.CoinButton {
    width: 100%;
    height: 60px;
    margin: 0px 0px;
    justify-content: space-between;
    display: flex;
    background: #b8b8b8;
}

.CoinNameArea {
    margin: auto;
    width: 250px;
    height: 50px;
}

.CoinName {
    color: black;
    margin: 0px;
    font-size: 25px;
    text-align: left;
}

.CoinFullName {
    color: gray;
    margin: 0px;
    font-size: 15px;
    text-align: left;
}

.TokenListManagement {
    width: 80%;
    height: 60px;
    font-size: 20px;
    background: #f0f0f0;
}
