.Swap {
  width: 480px;
  height: 480px;
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
}

.SwapContainerBackPanel {
  width: 100%;
  height: 100%;
  background: #1F2226;
  border-radius: 25px;
}

.InputPanel {
  width: 90%;
  height: 100px;
  margin: auto;
  background:#2a2e34;
  border-radius: 15px;
}

.Input {
  width: 95%;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.CoinChange {
  margin: auto;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}

.USDText {
  color: gray;
  margin-top: 0px;
  margin-right: 85%;
}

.Arrow {
  margin: 5px auto;
  color: white;
  font-size: 30px;
  background: #1b1d21;
  align-content: center;
  top: 240px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.SwapButton {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
}

.SettingIcon {
  width: 30px;
  height: 30px;
  background-color: white;
}
