.App {
  text-align: center;
  display: flex;
  height: 100vh;
  background: #30242c;
  display: flex;
}

.TopPanel {
  width: 90%;
  height: 50px;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.TopText {
  height: auto;
  color: white;
  font-size: 25px;
  margin: 10px 0px 0px 5px;
  align-content: center;
}

.TopButton {
  margin: 20px 10px 0px 0px;
  height: 30px;
  width: 30px;
}

.TextInput {
  margin: auto;
  height: 45px;
  width: 80%;
  background: #2f343a;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
